*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
wordstranslation-55fe8471baa5.json
wordstranslationcredentials.json
client_secret.properties
banner.png
MemoryaDocs/Screenshot1Mobile.jpg
MemoryaDocs/Screenshot1Tablet.png
MemoryaDocs/Screenshot2Mobile.jpg
MemoryaDocs/Screenshot2Tablet.png
MemoryaDocs/Screenshot3Mobile.jpg
MemoryaDocs/Screenshot3Tablet.png
MemoryaDocs/Screenshot4Mobile.jpg
MemoryaDocs/Screenshot4Tablet.png
MemoryaDocs/Screenshot5Mobile.jpg
MemoryaDocs/Screenshot6Mobile.jpg
